<div class="container">

  <h1>いいねした投稿一覧</h1>

 <div class="row mt-3">
   <div class="col">
     <h2>自由検索</h2>
  <%= form_tag(reviews_path, method: :get) do %>
    <%= text_field_tag :keyword %>
    <%= submit_tag '検索' %>
  <% end %>
   </div>
 </div>
  <div class="row mt-3">
    <div class="col">
      <h2>タグ絞り込み</h2>
      <% Tag.all.each do |tag| %>
        <span class="badge badge-light"><%= link_to tag.name, reviews_path(tag_id: tag.id) %></span>
      <% end %>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <h2>自分の投稿</h2>
      <span class="badge badge-light"><%= link_to "自分の投稿", reviews_path(myreview: current_customer.id) %></span>
    </div>
  </div>
    <div class="row mt-3">
        <div class="col">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>id</th>
                  <th>投稿者</th>
                  <th>タイトル</th>
                  <th>いいね数</th>
                  <th>レビュー詳細</th>
                </tr>
              </thead>
              
              <% @like_reviews.each do |like_review| %>

              <tbody>
                <tr>
                  <td>
                      <%= like_review.customer.id %>
                  </td>
                  <td>
                      <%= like_review.customer.name %>
                  </td>

                  <td>
                      <%= like_review.title %>
                  </td>

                  <td>
                    <%= like_review.likes.count %>
                  </td>

                  <td>
                      <%= link_to "レビュー詳細", review_path(like_review), class:"btn btn-primary" %>
                  </td>
                </tr>
              </tbody>

              <% end %>

            </table>
        </div>
    </div>
    <div class="row">
      <div class="col text-center">
         <%= link_to "レビュー投稿", new_review_path, class:"btn btn-primary" %>
      </div>
    </div>
</div>
