<div class="container">
  <h2>レビュー詳細</h2>
  <div class="row mb-3">
    <div class="col-md-2">投稿者名</div>
    <div class="col-md-10"><%= @review.customer.name %></div>
  </div>
  <div class="row mb-3">
    <div class="col-md-2">タイトル名</div>
    <div class="col-md-10"><%= @review.title %></div>
  </div>
  <div class="row mb-3">
    <div class="col-md-2">作者名</div>
    <div class="col-md-10"><%= @review.author %></div>
  </div>
  <div class="row mb-3">
    <div class="col-md-2">サイト名</div>
    <div class="col-md-10"><%= @review.site %></div>
  </div>
  <div class="row mb-3">
    <div class="col-md-2">タグ名</div>
    <div class="col-md-10">
      <% @review.tags.each do |tag| %>
        <span class="badge badge-light"><%= link_to tag.name, reviews_path(tag_id: tag.id) %></span>
      <% end %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-2">レビュー</div>
    <div class="col-md-10"><%= simple_format(@review.review, class: 'm-0') %></div>
  </div>
  <%= link_to'管理者権限で削除',admin_review_path(@review.id), method: :delete, class:"btn btn-danger" %>

  <h3 class="mt-5">コメント</h3>
  <hr>

  <% @review.comments.reverse.each do |comment| %>
    <div>
      <div class="d-flex">
        <div>
          <h5><%= comment.customer.name %></h5>
        </div>
        <div>
          <small class="ml-2 text-black-50">
            <%= comment.created_at.in_time_zone('Tokyo').strftime('%Y年%m月%d日 %H:%m') %>
          </small>
        </div>
      </div>
      <div>
        <%= simple_format(comment.comment, class: 'm-0') %>
      </div>
      <div>
      <% if admin_signed_in? %>
        <%= link_to '管理者権限で削除', admin_review_comment_path(@review, comment), method: :delete, class:"btn btn-danger btn-sm" %>
      <% end %>
      </div>
    </div>
  <% end %>
</div>
